<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>KAN.i</title>
</head>
<body>
    <header></header>
    <main>
        <section class="conteiner" id="conteinerA">
            <div class="text">
                <h1>the best specialized and qualified teachers</h1>
            </div>
            <img class="img" src="../../../assets/images/pexels-rdne-stock-project-7413944.jpg" alt="">
        </section>
        <section class="conteiner" id="conteinerB">
            <div class="text">
                <h1>engaged and passionate facilitators</h1>
            </div>
            <img class="img" src="../../../assets/images/pexels-shvets-production-7562074.jpg" alt="">
        </section>
        <section class="conteiner" id="conteinerA">
            <div class="text">
                <h1>possibility of hybrid teaching</h1>
            </div>
            <img class="img" src="../../../assets/images/pexels-tima-miroshnichenko-5303634.jpg" alt="">
        </section>
        <section class="conteiner" id="conteinerB">
            <div class="text">
                <h1>high-end technology</h1>
            </div>
            <img class="img" src="../../../assets/images/pexels-tima-miroshnichenko-6499179.jpg" alt="">
        </section>
    </main>
    <footer></footer> 
</body>
</html>