<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>KAN.i</title>
</head>
<body>
    <header>
        <img id ="logo" src="../../../src/assets/logo/RGB/Branco/Ativo 2.png" alt="">
        <div id="myNav" class="overlay">
            <div class="btn">
                <a href="javascript:void(0)" class="closebtn"><i class="fa-regular fa-circle-xmark"></i></a>
            </div>
            
            <div class="overlay-content">
                <img id ="logo" src="../../../src/assets/logo/RGB/Branco/Ativo 2.png" alt="">
                <ul>
                    <li><a href="../home/index.html">Home</a></li>
                    <li><a href="../about/index.html">About</a></li>
                    <li><a href="../registration/index.html">Register</a></li>
                    <li><a href="../formation/index.html">Formation</a></li>
                </ul>
            </div>
        </div>
        <button class="nav-button" id="botaoOpen">
            <i class="fa-solid fa-bars"></i>
        </button>
        
        <nav class="nav">
            <ul>
                <li><a href="../home/index.html">Home</a></li>
                <li><a href="../about/index.html">About</a></li>
                <li><a href="../registration/index.html">Register</a></li>
                <li><a href="../formation/index.html">Formation</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="SA">
            <img src="../../assets/images/pexels-rdne-stock-project-7413944.jpg" alt="">
            <div class="conteiner">
                <h1>&lt;the best specialized and qualified teachers\&gt;</h1>
            </div>
        </section>
        <section class="SB">
            <img src="../../assets/images/pexels-shvets-production-7562074.jpg" alt="">
            <div class="conteiner">
                <h1>&lt;engaged and passionate facilitators\&gt;</h1>
            </div>
        </section>
        <section class="SA">
            <img src="../../assets/images/pexels-tima-miroshnichenko-5303634.jpg" alt="">
            <div class="conteiner">
                <h1>&lt;possibility of hybrid teaching\&gt;</h1>
            </div>
        </section>
        <section class="SB">
            <img src="../../assets/images/pexels-tima-miroshnichenko-6499179.jpg" alt="">
            <div class="conteiner">
                <h1>&lt;high-end technology\&gt;</h1>
            </div>
        </section>
    </main>

    <footer>
            <p>2023 / Squad 5 - PdA</p>
    </footer> 
    <script src="script.js"></script>
</body>
</html>