@import "../global/style/extends.css";

.SA {
    width: 100%;
    height: 686px;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: row-reverse;
}

.SA img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.SA .conteiner{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--off-white);
    background-color: var(--violet-dark);    
    text-align: left, justify;
    font-size: 50px;
    padding: 40px;
}

.SB {
    width: 100%;
    height: 686px;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: row;
}

.SB img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.SB .conteiner{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--off-white);
    background-color: var(--violet-dark);    
    text-align: left, justify;
    font-size: 50px;
    padding: 40px;
}

@media screen and (max-width: 900px){

    .SA {
        height: 468px;
    }
    .SA .conteiner {
        font-size: 40px;
    }

    .SB {
        height: 268px;
    }
    
    .SB .conteiner {
        font-size: 40px;
    }
}

@media screen and (max-width: 700px){
    .SA .conteiner {
        font-size: 30px;
    }
    .SB .conteiner {
        font-size: 30px;
    }
} 

@media screen and (max-width: 520px){

    .SA {
        height: 268px;
    }
    
    .SA .conteiner {
        font-size: 20px;
    }
    
    .SB {
        height: 268px;
    }

    .SB .conteiner {
        font-size: 20px;
    }
}

@media screen and (max-width: 460px){
    .SA .conteiner {
        font-size: 10px;
    }
    .SB .conteiner {
        font-size: 10px;
    }
} 