<header>
    <img id ="logo" src="../../../src/assets/logo/RGB/Branco/Ativo 2.png" alt="">
    <div id="myNav" class="overlay">
        <div class="btn">
            <a href="javascript:void(0)" class="closebtn"><i class="fa-regular fa-circle-xmark"></i></a>
        </div>
        
        <div class="overlay-content">
            <img id ="logo" src="../../../src/assets/logo/RGB/Branco/Ativo 2.png" alt="">
            <ul>
                <li><a href="../home/index.html">Home</a></li>
                <li><a href="../about/index.html">About</a></li>
                <li><a href="../registration/index.html">Register</a></li>
                <li><a href="../formation/index.html">Formation</a></li>
            </ul>
        </div>
    </div>
    <button class="nav-button" id="botaoOpen">
        <i class="fa-solid fa-bars"></i>
    </button>
    
    <nav class="nav">
        <ul>
            <li><a href="../home/index.html">Home</a></li>
            <li><a href="../about/index.html">About</a></li>
            <li><a href="../registration/index.html">Register</a></li>
            <li><a href="../formation/index.html">Formation</a></li>
        </ul>
    </nav>
</header>

<footer>
    <p>Desenvolvido por: Squad 5 - PdA</p>
</footer>