* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

footer{
    height: 100px;
    width: 100vw;
    background-color: var(--black);
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#icons{
    height: 30px;
    width: 30px;
}

#information img{
    height: 30px;
}