header{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--black);
    padding: 13px;
    justify-content: space-between;
    overflow-y: hidden;
}

header #logo{
    margin-left: 20px;
    width: 9%;
}


.nav, .donation{
    margin-left: 600px;
    display: flex;
    align-items: center;
}

.nav ul, .donation{
    display: flex;
    /* gap:70px; */
}

.nav ul li, .donation{
    display: flex;
    list-style: none;
}

.nav ul li a, .donation{
    text-decoration: none;
    background-color: var(--shadow-black);
    padding: 40px;
    border-radius: 7px;
    font-size: 20px;
    color:#fff;
    transition: 0.5s;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.donation{
    border-radius: 0px;
    background-color: var(--pumpkin-dark);
    border: transparent;
    margin-left: 0px;
    }
    
.nav ul li a:hover{
    background-color: var( --violet-darker);
}
.donation:hover{
    background-color: var(--pumpkin-light);
}
/* Menu Burguer */

.nav-button{
    display: none;
}

.overlay{
    display: none;
}

@media(max-width: 500px){

    header #logo{
        width: 40%;
        align-self: center;
        padding : 10px;
        margin-left: 30%;
    }

    .overlay-content #logo{
        width: 40%;
        margin-right: 30%;
    }

    .nav-button{
        border: 0;
        border-radius: 4px;
        padding: 8px;
        margin: 8px;
        cursor: pointer;
        display: block;
        margin-left: 15%;
    }
    
    .overlay{
        width: 0;
        height: 100%;
        background-color: rgba(97, 50, 124, 0.856);
        z-index: 9;
        position: fixed;
        left: 0;
        top: 0;
        overflow: hidden;
        transition: all 0.5s ;
        display: block;
    }

    .nav{
        display: none;
    }

    .donation{
        display: none;
    }

    header h2{
        display: none;
    }

    .overlay-content{
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 60%;
    }

    .overlay-content ul{
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
    }

    .overlay-content ul li a{
        cursor: pointer;
        background-color: var(--violet-dark);
        color: aliceblue;
        padding:10px;
        border-radius: 7px;
        transition: 0.5s;
    }

    .overlay-content ul li a:hover{
        background-color: var(--pumpkin);
    }

    .btn{
        
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .closebtn{
        font-size: 1.5em;
    }
    
}