@import "../../global/style/extends.css";

.block1Home .texts{
    position: absolute;
    top: 18%;
    left: 3%;
    font-size: 120%;
}

.block1Home .texts h1{
    color: var(--off-white);
}

.block1Home .texts h2{
    color: var(--pumpkin);
}

.block1Home img {
    width: 100%;
    filter: brightness(60%);
}

@media screen and (max-width: 1100px){
    .texts {
        text-shadow: 1px 5px 10px black;
    }
}

@media screen and (max-width: 500px){
    .texts {
        margin-top: 30px;
        text-align: center;
        text-shadow: 1px 5px 10px black;
    }
}

footer{
    height: 100px;
    width: 100vw;
    background-color: var(--black);
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#icons{
    height: 30px;
    width: 30px;
}

#information img{
    height: 30px;
}

.nav{
    display: flex;
    flex-direction: row;
    
}





