<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbar">
            <img id ="logo" src="../../../assets/logo/RGB/Branco/Ativo 2.png" alt="">
            <ul>
                <li><a>Home</a></li>
                <li><a>About</a></li>
                <li><a>Formation</a></li>
                <li><a>Registration</a></li>
            </ul>
        </div>
    </header>
</body>
</html>