<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAN.i</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <header>
       
        <div id="myNav" class="overlay">

            <div class="btn">
                <a href="javascript:void(0)" class="closebtn"><i class="fa-regular fa-circle-xmark"></i></a>
            </div>

            <div class="overlay-content">
                <img id ="logo" src="../../../assets/logo/RGB/Branco/Ativo 2.png" alt="">
            </div>

        </div>

        <button class="nav-button" id="botaoOpen">
            <i class="fa-solid fa-bars"></i>
        </button>

        <nav class="nav">

            <img id ="logo" src="../../../assets/logo/RGB/Branco/Ativo 2.png" alt="">
            
            <ul>
                <li><a>Home</a></li>
                <li><a>Sobre</a></li>
                <li><a>Cadastre-se</a></li>
            </ul>

            <button class="donation">Doe!</button>
        </nav>

        
    </header>

    <div class="block1Home">

        <!-- <img src="../../../assets/images/pexels-shvets-production-7562023.jpg" alt=""> -->
        <div class="texts">

            <div class="title">
                <h1>&lt;INCLUDING THE FUTURE\&gt;</h1>
            </div>
            

            <div class="Catchy_phrase">
                <h1>TECNOLOGY FOR AUSTIC</h1>
            </div>

            <div class="Exempt">
                <p>&lt;YES, U CAN!\&gt;</p>
            </div>
            
        </div>
    </div>

    <section>
        <div class="conteiner_about">
            <div class="image">
                <img src="../../../assets/images/pexels-shvets-production-7562029.jpg">
            </div>
            <div class="about">
                <img id ="logo" src="../../../assets/logo/RGB/Branco/Ativo 2.png" alt="">

                <div class="text_about">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur sed quisquam suscipit voluptate sit excepturi voluptas laudantium iusto ipsam explicabo, repudiandae dicta maxime, nam dignissimos aliquam eum earum rem iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt architecto, sit nihil sequi veniam iure repellendus sed mollitia doloremque corrupti aliquid explicabo, deleniti placeat non recusandae vitae fuga quas?</p>
                </div>
              
                <div class="information">
                    <p>Click tho button to reaf more about us.</p>
                </div>
                
                <div class="action">
                    <button>ABOUTE US</button>
                </div>
            </div>
        </div>
    </section>

    <div class="studants">
        <div class="text_studantes">
            <h2>&lt;WANT TO BE ONE OF OURS STUDENTS\&gt;</h2>
        </div>

        <div class="action">
            <button>REGISTER</button>
        </div>
    </div>

    <div class="traning">
        <div class="text_traning">
            <h2>&lt;DISCOVER MORE ABOUT OUR TRANING\&gt;</h2>
        </div>

        <div class="action">
            <button>REGISTER</button>
        </div>
    </div>

    <!-- <div class="apresentation">
        <div class="about">
            <h2>Sobre</h2>
            <h1></h1>
        </div>
        <div class="Course">
            <h2>Curso</h2>
        </div>
        
    </div> -->

    <div class="Donation">
        <h1 class="donate">Doações</h1>
        
    </div>

    <script src="scripts/index.js"></script>

</body>
</html>